@inherits E1BaseComponent
@inject JsService Js

<div class="card" style="height: 350px">
    <div class="card-body">
        <h5 class="card-title">@QueryRequest.Name</h5>
        <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
            <DxTab Text="Edit"></DxTab>
            <DxTab Text="Json"></DxTab>
        </DxTabs>
        <div class="row mt-2 ml-2" style="@BodyHeight" hidden="@(ActiveTabIndex != 0)" id="@EditorTag"></div>
        <div class="row mt-2 ml-2" style="@BodyHeight" hidden="@(ActiveTabIndex != 1)" id="@ViewerTag"></div>
        <button disabled="@(!State.Authenticated)" class="btn btn-primary">Submit</button>
    </div>
</div>

@code {
    [Parameter]
    public QueryRequest QueryRequest { get; set; }
    string BodyHeight => "height: calc(100% - 120px)";
    string EditorTag => $"{QueryRequest.Id.ToString()}-edit";
    string ViewerTag => $"{QueryRequest.Id.ToString()}-view";
    int activeTabIndex = 0;
    int ActiveTabIndex
    {
        get => activeTabIndex;
        set
        {
            activeTabIndex = value;
            if (activeTabIndex == 1)
            {
                Mediator.Send(new GetJsonAction { Source = EditorIndex, Destination = ViewerIndex });
            }
            InvokeAsync(StateHasChanged);
        }
    }
    int EditorIndex { get; set; }
    int ViewerIndex { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            EditorIndex = await Js.InitEditorAsync(EditorTag, QueryRequest.Query);
            ViewerIndex = await Js.InitJsonViewerAsync(ViewerTag, "");
        }
    }
}
