@inherits BlazorStateComponent
@inject JsService Js

<div class="card" style="height: 300px">
    <div class="card-body">
        <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
            <DxTab Text="Edit"></DxTab>
            <DxTab Text="Json"></DxTab>
        </DxTabs>
        <div class="row mt-2 ml-2" style="@BodyHeight" hidden="@(ActiveTabIndex != 0)" id="@EditorTag"></div>
        <div class="row mt-2 ml-2" style="@BodyHeight" hidden="@(ActiveTabIndex != 1)" id="@ViewerTag"></div>
    </div>
</div>



@code {
    [Parameter]
    public string TagId { get; set; }
    string BodyHeight => "height: calc(100% - 46px)";
    string EditorTag => $"{TagId}-edit";
    string ViewerTag => $"{TagId}-view";
    int activeTabIndex = 0;
    int ActiveTabIndex
    {
        get => activeTabIndex;
        set
        {
            activeTabIndex = value;
            if (activeTabIndex == 1)
            {
                Mediator.Send(new GetJsonAction { Source = EditorIndex, Destination = ViewerIndex });
            }
            InvokeAsync(StateHasChanged);
        }
    }
    int EditorIndex { get; set; }
    int ViewerIndex { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            EditorIndex = await Js.InitEditorAsync(EditorTag, "");
            ViewerIndex = await Js.InitJsonViewerAsync(ViewerTag, "");
        }
    }
}
