@page "/"
@inherits E1BaseComponent
@inject JsService Js

<div class="row">
    @foreach (var d in State.ResponseData)
    {
        <DataView @key="@d" DataId="@d"></DataView>
    }
</div>
<div class="row">
    @foreach (var d in State.DemoData)
    {
        <DemoView @key="@d" DataId="@d" />
    }
    @foreach (var q in VisibleQueryRequests)
    {
        <CqlEditor @key="q.Id" QueryRequest="@q" />
    }
</div>

@code
{
    IEnumerable<QueryRequest> VisibleQueryRequests => State.QueryRequests.Where(qr => qr.Visible).OrderByDescending(qr => qr.Toggled);
}